.tree {
	padding:0;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.tree li {
	list-style-type:none;
	cursor:pointer;
}

.tree .parent:before {
	content:"\25b6 \0000a0";
}

.tree .parent.open:before {
	content:"\25bc \0000a0";
}

.tree ul {
	display:none;
}

.tree li.open > ul {
	display:block;
}

.tree li span {
	position:absolute;
	left:50%;
}